*{
    font-family: "Monaco";
}

#container{
    background: url(../assets/index.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    width: 100%;
    text-align: justify;
}

header{
    border-bottom: 5px double black;
    margin: -10px;
    padding-left: 35px;
    padding-top: 0.25px;
    background-color: white;
    position: fixed;
    width: 100%;
}

header i{
    cursor: alias;
    position: absolute;
    right: 75px;
}

#profile-info{
    padding-right: 20%;
    padding-top: 100px; 
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.2fr 0.2fr 1fr 1fr 1fr;
    grid-template-areas: "a b"
                         "a c"
                         "a d"
                         "a e"
                         "a f";
    padding-left: 20px;
}

footer{
    display:flex;
    justify-content: center;
    position: absolute;
    bottom: 50px;
    width: 100%;
}

#pro-photo{
    grid-area: a;
    height: 200px;
    border: 5px double black;
}
#name{
    grid-area: b;
}
#age{
    grid-area: c;
}

#time{
    grid-area: d;
}

#bio{
    grid-area: e;
}

#goals{
    grid-area: f;
}


