* {
    font-family: "Monaco";
    color: "black";
}

#container{
    background: url(../assets/back1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

body {
    text-align: center;
}

button {
    color: white;
    background: black;
}
form{
    padding-top: 80px;
    line-height: 50px;
}
header{
    text-align: left;
    border-bottom: 5px double black;
    margin: -10px;
    padding-left: 35px;
    padding-top: 0.25px;
    background-color: white;
    position: fixed;
    width: 100%;
}

header i{
    cursor: alias;
    position: absolute;
    right: 75px;
    color: black;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

select {
    border-style: double;
    border-width: 5px;
}

i {
    color: #a9a5a6;
    font-size: 22px;
}

input {
    border-width: 5px;
    border-style: double;
}

textarea {
    border-style: double;
    border-width: 5px;
    height: 50%;
    min-width: 500px;
    width: 50%;
    font-size: 15px;
}

.mood-list i:hover {
    cursor: pointer;
    color: #f6961e !important;
}

button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.mood {
    display: inline-block;
}

 .prompt {
     display:block;
}

 .entry {
     display:block;
}

 #editor {
     height: 30vh;
     background-color: white;
}
