*{
    font-family: "Monaco";
}

form{
    padding-top: 80px;
    justify-items: center;
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "a b c";
    padding-left: 20px;
}

#container{
    background: url(../assets/back2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    width: 100%;
    text-align: justify;
}
.prompt-filter{
    grid-area: "a";
}

.mood-filter{
    grid-area: "b";
}

header i{
    cursor: alias;
    position: absolute;
    right: 75px;
}

header{
    border-bottom: 5px double black;
    margin: -10px;
    padding-left: 35px;
    padding-top: 0.25px;
    background-color: white;
    position: fixed;
    width: 100%;
}


button{
    background-color: black;
    color:white;
    cursor: alias;
    height: 40px;
    width: 75px;
}

button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.past-entries{
    width: 100%;
    padding-left: 45%;
}

select{
    background-color: black;
    color:white;
    cursor: alias;
    height: 40px;
    width: 100%;
}

select:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#mood-filter{
    width: 200px;
}
