input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

header h1 img{
	width: 100%;
}

.mood-list {
    display: none;
}

.mood:hover .mood-list {
    display: inline-block;
}

.mood {
    display: inline-block;
 }

 .prompt {
     display:block;
 }

 .entry {
     display:block;
 }
